<a href="https://colab.research.google.com/github/yuuhyun/python_taehoon_itwill/blob/main/20250424_python08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random # 난수 생성 함수(들)을 사용하기 위해서(random.randrange, ...)
import math # 수학 함수(들)을 사용하기 위해서(math.sqrt, ...)

# Ex 1.

아래의 리스트 fruits에 저장된 문자열들의 길이를 저장하는 리스트를 만들고 출력하세요.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'durian', 'watermelon']
len_fruits = []

for x in (range(len(fruits))):
    len_fruits.append(len(fruits[x]))

print(len_fruits)

[5, 6, 6, 6, 10]

# Ex 2.

* 1 이상 4 이하 범위의 난수 10개를 저장하는 리스트 gender_codes를 만들고 출력하세요.
* gender_codes의 값이 1 또는 3이면 'Male', 2 또는 4이면 'Female'을 저장하는 리스트 genders를 만들고 출력하세요.

In [ ]:
gender_codes = []

gender_codes = [random.randrange(4) for _ in range(10)]
print(gender_codes)

genders = []

for x in gender_codes:
    if x == 1 or x == 3:
        genders.append('Male')
    elif x == 2 or x == 4:
        genders.append('Female')

# genders = ['Male' if x==1 or x==3 else 'Female' for x in gender_codes]

print(genders)

NameError: name 'random' is not defined

# Ex 3.

아래의 두 차원 리스트 m1, m2에서 같은 인덱스에 있는 원소들끼리의 덧셈 결과를 저장하는 리스트를 만들고 출력하세요.

In [ ]:
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]

m2 = [
    [1, 1, 1],
    [2, 2, 2]
]

m3 =[
    [0 ,0, 0],
    [0, 0, 0]
]

for i in range(0, len(m1)):
    for j in range(0, len(m1[i])):
        m3[i][j]= m1[i][j] + m2[i][j]

print(m3)

[[2, 3, 4], [6, 7, 8]]

In [ ]:
# 강사님 code

m1 = [
    [1, 2, 3],
    [4, 5, 6]
]

m2 = [
    [1, 1, 1],
    [2, 2, 2]
]

result = []

for row1, row2 in zip(m1, m2):
    row_plus = []
    for x, y in zip(row1, row2):
        row_plus.append(x + y)
    result.append(row_plus)

print(result)

[[2, 3, 4], [6, 7, 8]]

In [ ]:
result = []
for row1, row2 in zip(m1, m2):
    row_plus = [x+y for x, y in zip(row1, row2)]
    result.append(row_plus)

print(result)

[[2, 3, 4], [6, 7, 8]]

In [ ]:
result = [[x + y for x, y in zip(row1, row2)] for row1, row2 in zip(m1, m2)]
print(result)

[[2, 3, 4], [6, 7, 8]]

#Ex 4.
1 이상 10 이하의 정수 5개를 저장하는 리스트 scores를 만들고 출력하세요.

In [ ]:
num_of_items = 5 # 정수를 몇개 저장할 것인지에 대한 변수
scores = [] # 리스트 선언

for i in range(num_of_items): # 저장할 정수의 갯수 만큼 for문을 반복
    scores.append(random.randrange(10)) # scores에 1 이상 10 이하의 난수 정수를 추가한다.

print(scores)

[7, 1, 6, 9, 3]

# Ex 5.
문제 4에서 만든 리스트 scores의 원소들의 합계를 계산하고 출력하세요.

In [ ]:
sum = 0 # 합계를 계산할 변수 선언

for i in range(len(scores)): # scores 리스트의 변수 수(길이)만큼 for문을 반복
    sum += scores[i] # scores[i]의 값을 모두 더한다.

print(sum)

26

In [ ]:
total = sum(scores)
print(total)

26

# Ex 6.
문제 4에서 만든 리스트 scores의 원소들의 평균을 계산하고 출력하세요.

In [ ]:
avg = 0 # 평균을 계산할 변수 선언

for i in range(len(scores)): # scores 리스트의 변수 수(길이)만큼 for문을 반복
    avg += scores[i] # scores[i]의 값을 모두 더한다. 여기까지 Ex 5.와 과정이 동일

avg /= len(scores) # 그 값을 변수 수(길이) 만큼 나눈다. 평균은 모든 수를 더한 뒤 그 가짓수만큼 나눈 값이기 때문.

print(avg)

5.2

# Ex 7.
문제 4에서 만든 리스트 scores의 원소들의 분산을 계산하고 출력하세요.

In [ ]:
# 분산 = (원소의 값 - 평균)^2 를 모두 더한 뒤 n-1로 나눈다.
# 평균은 Ex 6.에서 구했으므로 그 값(avg)을 이용.

var = 0 # 분산을 계산할 변수 선언

for i in range(len(scores)):  # scores 리스트의 변수 수(길이)만큼 for문을 반복
    var += (scores[i] - avg) ** 2 # scores[i]의 값에 평균을 뺀 값의 제곱을 모두 더한다 (과정 1)

var /= (len(scores) - 1) # {과정 1에서 구한 값 / [변수 수(길이) - 1]} = 분산이 된다. (과정 2)

print(var)

10.200000000000001

In [ ]:
#variations = []
#for x in scores:
#    variations.append((x-avg)**2)
#print(variations)

variations = [(x-avg) ** 2 for x in scores]
print(variations)

var = sum(variations) / (num_of_items-1)
print(var)

[3.2399999999999993, 17.64, 0.6399999999999997, 14.44, 4.840000000000001]
10.200000000000001

# Ex 8.
문제 4에서 만든 리스트 scores의 원소들의 표준편차를 계산하고 출력하세요.

In [ ]:
# 표준편차 = 분산의 제곱근
# 분산은 Ex.7에서 구했으므로 그 값(var)을 이용.

std = 0

std = var ** (1/2) # 어떤 수에 1/2를 제곱하면 그 수의 제곱근이 구해진다.

print(std)

3.1937438845342627

In [ ]:
std = math.sqrt(var)
print(std)

3.1937438845342627

# Ex 9.
문제 4에서 만든 리스트 scores에서 최댓값을 찾고 출력하세요.

In [ ]:
max = 0 # 최댓값 변수 max 선언

for i in range(len(scores)): # scores의 원소 갯수만큼까지 for문을 반복
    if max < scores[i]: # 만약 max의 값이 scores[i]보다 작다면
        max = scores[i] # max의 값은 scores[i]가 된다.

print(max)

9

In [ ]:
del max
max(scores)

9

In [ ]:
max_scores=scores[0]
for x in scores:
    if x > max_scores:
        max_scores = x

print(max_scores)

9

# EX 10.
문제 4에서 만든 리스트 scores에서 최솟값을 찾고 출력하세요.

In [ ]:
min = 0 # 최솟값 변수 min 선언

for i in range(len(scores)): # scores의 원소 갯수만큼까지 for문을 반복
        if i == 0: # 최초로 값을 비교한 시점에서
            min = scores[i] # min의 값은 scores[0]이 된다. scores에서 최솟값을 구하지만, scores는 1 이상의 정수 이기 때문에 0보다 무조건 크기 때문.
        elif min > scores[i]: # min이 scores[i]보다 크다면
            min = scores[i] # min의 값은 scores[i]로 최솟값이 갱신된다.

print(min)

1

In [ ]:
del min
min(scores)

1

In [ ]:
min_scores=scores[0]
for x in scores:
    if x < min_scores:
        min_scores = x

print(min_scores)

1