<a href="https://colab.research.google.com/github/yuuhyun/python_taehoon_itwill/blob/main/20250423_python06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트(List)

* `list` : 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
* element(원소, 요소): 리스트에 저장된 각각의 값.
* index(인덱스): 리스트에서 각각의 원소들이 저장된 위치(번호).
    * 리스트의 인덱스는 **0**부터 시작.
    * 리스트의 마지막 인덱스는 (원소 개수 -1).
* 리스트는 원소들을 변경(추가, 삭제)할 수 있음.
    * `tuple`과 다른 점!

In [ ]:
# 숫자들을 저장하는 list
numbers = [1, 2, 10, 20, -1, -2]
print(type(numbers))
print(numbers)

<class 'list'>
[1, 2, 10, 20, -1, -2]

In [ ]:
# 여러가지 타입의 원소들을 저장하는 list
values = [1, 2, 'a', 'b', True, False]
print(type(values))
print(values)

## Indexing

인덱스를 사용해서 리스트의 원소를 사용하는 방법.

In [ ]:
numbers # print(numbers)

[1, 2, 10, 20, -1, -2]

In [ ]:
numbers[0] # 리스트 numbers의 첫번째 원소

1

In [ ]:
numbers[5] # 리스트 numbers의 마지막 원소(인덱스 5번 원소)

-2

In [ ]:
numbers[3] # 리스트 numbers에서 인덱스가 3인 원소

20

In [ ]:
numbers[-1] # 리스트 numbers에서 마지막 원소

-2

In [ ]:
numbers[-2] # 리스트 numbers에서 마지막에서 두번째 원소

-1

## Slicing

`list[start:end]`
* list에서 인덱스가 start <= index < end 범위의 원소들을 잘라내는 방법.
* 시작 인덱스 start를 생략하면, 시작 인덱스는 0번.
* 마지막 인덱스 end를 생략하면, 리스트의 마지막 원소까지 잘라냄.
* slicing의 결과는 **새로운 리스트!**

In [ ]:
numbers[1:4]

[2, 10, 20]

In [ ]:
numbers[:3]

[1, 2, 10]

In [ ]:
numbers[3:]

[20, -1, -2]

In [ ]:
numbers[:]

[1, 2, 10, 20, -1, -2]

In [ ]:
# 리스트 numbers에서 마지막 2개 원소만 선택(slicing)
numbers[-2:]

[-1, -2]

In [ ]:
print(numbers[0]) # indexing: 리스트에서 해당 인덱스의 원소(값) 1개를 찾음.
print(numbers[0:1]) # slicing: 리스트에서 일부분을 잘라낸 리스트.

1
[1]

## 문자열(String)

문자열 : 문자들의 리스트.
* 인덱스를 사용할 수 있음.
    * indexing : 해당 인덱스의 문자 1개를 선택.
    * slicing : 문자열의 일부를 잘라냄.

In [ ]:
message = '안녕, Python!' #문자 11개를 갖는 문자열. 11개의 문자들을 원소로 갖는 리스트

In [ ]:
# 문자열 message에서 첫번째 문자를 선택
message[0]

'안'

In [ ]:
# 문자열 message에서 마지막 문자
message[-1]

'!'

In [ ]:
# 문자열 message에서 첫 두 글자를 slicing
message[:2]

'안녕'

In [ ]:
# 문자열 message에서 마지막 세글자를 slicing
message[-3:]

'on!'

## list의 산술 연산

In [ ]:
# 문자열의 +
'hello' + '안녕'

'hello안녕'

In [ ]:
# list의 +
[1,2,3] + [100, 200]

[1, 2, 3, 100, 200]

In [ ]:
# 문자열의 *
'안녕' * 5

'안녕안녕안녕안녕안녕'

In [ ]:
# list의 *
[1,2,3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# list의 기능들 - 함수(메서드)

## 원소 추가

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# list.append(값): 값을 list의 가장 마지막 위치에 추가.
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 100]

In [ ]:
# list.insert(index, object): list의 index 위치에 object를 삽입.
numbers.insert(0, 123)
print(numbers)

[123, 1, 2, 3, 4, 5, 100]

In [ ]:
# list.extend(iterable) : iterable 타입 객체의 원소들을 하나씩 list에 추가.
# numbers = numbers + [-1, -2, -3]
numbers.extend([-1, -2, -3])
print(numbers)

[123, 1, 2, 3, 4, 5, 100, -1, -2, -3]

In [ ]:
numbers.append([111,222])
print(numbers)
# list.append(another_list): another_list를 list의 가장 마지막에 추가.

[123, 1, 2, 3, 4, 5, 100, -1, -2, -3, [111, 222]]

## 원소 삭제

In [ ]:
numbers = [1, 2, 3, 10, 20, 30, 1, 2, 3]
print(numbers)

[1, 2, 3, 10, 20, 30, 1, 2, 3]

In [ ]:
# list.pop(): list의 가장 마지막 원소를 삭제.
numbers.pop()
print(numbers)

[1, 2, 3, 10, 20, 30, 1, 2]

In [ ]:
# list.pop(index): 해당 index 위치의 원소를 삭제.
# index 파라미터의 기본값은 -1이기 때문에, 아규먼트를 전달하지 않으면 가장 마지막 원소가 삭제됨.
numbers.pop(1)
print(numbers)

[1, 3, 10, 20, 30, 1, 2]

In [ ]:
# list.remove(value): list의 원소들 중에서 가장 먼저 나오는 value를 삭제.
numbers.remove(1)
print(numbers)

[3, 10, 20, 30, 1, 2]

In [ ]:
# list.clear(): list의 모든 원소들을 삭제.
numbers.clear()
print(numbers)

[]

## 특정 인덱스의 원소 변경

In [ ]:
names = ['홍길동', 'Scott', 'Tiger']
print(names)

['홍길동', 'Scott', 'Tiger']

In [ ]:
# list[index] = value: list에서 index 위치의 값을 value로 변경.
names[2] = '오쌤'
print(names)

['홍길동', 'Scott', '오쌤']

# list와 for 반복문

In [ ]:
numbers = [1, 2, 3, 10, 20, 30]
for x in numbers:
    print(x)

1
2
3
10
20
30

In [ ]:
# list의 인덱스와 아이템들을 순서대로 반복:
for index, value in enumerate(numbers):
    print(index, ':', value)

0 : 1
1 : 2
2 : 3
3 : 10
4 : 20
5 : 30

* 빈 리스트 numbers를 만듦.
* 리스트 numbers에 10 미만의 정수 난수 10개를 저장.
* numbers를 출력
* numbers의 원소들 중에서 짝수들만 찾아서 새로운 리스트 evens를 만들고 출력.
* numbers의 원소들 중에서 홀수들만 찾아서 새로운 리스트 odds를 만들고 출력.

In [ ]:
import random

numbers =[]
evens =[]
odds =[]

for i in range(10):
    numbers.append(random.randrange(10))
print(numbers)

for i in range(0,10):
    if numbers[i] % 2 == 0:
        evens.append(numbers[i])
    else:
        odds.append(numbers[i])
print(evens)
print(odds)

[9, 0, 3, 3, 1, 4, 7, 2, 4, 3]
[0, 4, 2, 4]
[9, 3, 3, 1, 7, 3]

In [ ]:
# 강사님 code

numbers = []

# for _ in range(stop) : range()의 값들을 반복 블록에서 사용하지 않을 때, 변수 이름 대신 밑줄(underscore, _)을 사용하기도 함.
for _ in range(10): # 10번 반복
    rand_number = random.randrange(10) # 0 이상 10 미만의 정수 난수 만듦.
    numbers.append(rand_number)

print(numbers) # 리스트를 출력

evens = [] # 짝수들만 저장하기 위한 빈 리스트를 만듦.

for x in numbers: # 리스트 numbers의 아이템들을 순서대로 하나씩 반복하면서
    if x % 2 == 0: # 리스트에서 꺼낸 아이템 x가 짝수이면
        evens.append(x) # 리스트 evens에 짝수를 저장

print(evens)

odds = [] # 홀수들을 저장하기 위한 빈 리스트를 만듦.
for x in numbers: # 리스트 numbers의 아이템들을 순서대로 하나씩 반복하면서
    if x % 2: # x를 2로 나눈 나머지가 있으면(x가 홀수이면)
        odds.append(x) # 리스트 odds에 홀수를 저장
print(odds)

[0, 1, 2, 9, 0, 6, 5, 3, 3, 9]
[0, 2, 0, 6]
[1, 9, 5, 3, 3, 9]

* integers 이름의 빈 리스트를 만듦.
* 리스트 integers에 -10 이상 10 이하의 정수 난수 10개를 저장하고 출력.
* is_positives 이름의 빈 리스트를 만듦.
* integers의 원소가 양수이면 True, 그렇지 않으면 False를 is_positives에 저장하고 출력.

In [ ]:
integers = []
is_positives = []

for _ in range(10): # 10번 반복
    integers.append(random.randrange(-10, 11))

print(integers)

for i in range(0,10):
    if integers[i] > 0:
        is_positives.append(True)
    else:
        is_positives.append(False)

print(is_positives)

[3, 3, -4, 6, 0, 4, 10, -2, -9, -3]
[True, True, False, True, False, True, True, False, False, False]

## List Comprehension

In [ ]:
numbers = []
for x in range(1, 11):
    numbers.append(x)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = [x for x in range(1, 11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1 ~ 10 까지의 정수들의 제곱을 저장하는 리스트를 만들고 출력하세요
```
[1, 4, 9, 16, ..., 81, 100]
```

In [ ]:
numbers = [x ** 2 for x in range(1,11)]
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

100 미만의 정수 난수 10개를 저장하는 리스트 rand_numbers를 만들고 출력하세요.

In [ ]:
rand_numbers = []

for i in range(10):
    rand_numbers.append(random.randrange(100))
print(rand_numbers)

# list comprehension 사용

rand_numbers = [random.randrange(100) for _ in range(10)]
print(rand_numbers)

[58, 38, 20, 56, 33, 55, 53, 97, 61, 89]
[3, 54, 47, 43, 60, 64, 2, 37, 32, 49]

rand_numbers에서 짝수들만 선택해서 새로운 리스트를 만들고 출력하세요.

In [ ]:
even_numbers = []
for x in rand_numbers:
    if x % 2 == 0:
        even_numbers.append(x)
print(even_numbers)

# list comprehension 사용

even_numbers = [x for x in rand_numbers if x % 2 == 0]
print(even_numbers)

[54, 60, 64, 2, 32]
[54, 60, 64, 2, 32]

rand_numbers에서 홀수들만 선택해서 새로운 리스트를 만들고 출력하세요.

In [ ]:
odds_numbers=[]
for x in rand_numbers:
    if x % 2 != 0:
        odds_numbers.append(x)
print(odds_numbers)

odds_numbers = [x for x in rand_numbers if x % 2 != 0]
print(odds_numbers)

[3, 47, 43, 37, 49]
[3, 47, 43, 37, 49]

if-else 표현식

```
값1 if 조건식 else 값2
```

(조건식)을 만족하면 (값1)을 선택, 그렇지 않으면 (값2)를 선택

In [ ]:
x = 1
is_even = 'True' if x % 2 == 0 else 'False'
print(is_even)

False

rand_numbers의 값이 짝수이면 True, 그렇지 않으면 False를 저장하는 리스트를 만들고 출력하세요.

In [ ]:
bull_numbers = []

bull_numbers = ['True' if x % 2 == 0 else 'False' for x in rand_numbers]
print(bull_numbers)

['False', 'True', 'False', 'False', 'True', 'True', 'True', 'False', 'True', 'False']

# 다차원 리스트

다차원 리스트 : 리스트들을 아이템(원소)로 갖는 리스트.

In [ ]:
matrix = [
    [1, 2, 3,4],
    [4, 5, 6,7],
    [7, 8, 9,10]
]

In [ ]:
print(matrix)

[[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 10]]

In [ ]:
len(matrix) # len(obj): obj가 갖고 있는 아이템들의 개수를 리턴.

3

In [ ]:
matrix[0]

[1, 2, 3, 4]

In [ ]:
matrix[0][0]

1

## 다차원 배열과 for 반복문

In [ ]:
for row in matrix:
    print(row)

[1, 2, 3, 4]
[4, 5, 6, 7]
[7, 8, 9, 10]

In [ ]:
for row in matrix:
    for x in row:
        print(x, end = '\t')
    print()

1	2	3	4
4	5	6	7
7	8	9	10

# `zip()` 함수와 for 반복문

In [ ]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = [1, 3, 5, 7, 9]
adds = []

for i in range(0,5):
    adds_n = numbers1[i]+numbers2[i]
    adds.append(adds_n)
print(adds)

[2, 5, 8, 11, 14]

In [ ]:
# 강사님 code

adds = [numbers1[i]+numbers2[i] for i in range(5)] # range(len(numbers1))
print(adds)

[2, 5, 8, 11, 14]

In [ ]:
# 강사님 code 2

adds2 = []

for x, y in zip(numbers1, numbers2):
    adds2.append(x+y)
print(adds2)

[2, 5, 8, 11, 14]

In [ ]:
# 강사님 code 3

adds2 = [ x + y for x, y in zip(numbers1, numbers2)]
print(adds2)

[2, 5, 8, 11, 14]