<a href="https://colab.research.google.com/github/yuuhyun/python_taehoon_itwill/blob/main/20250425_python10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오류(Error)의 종류

In [ ]:
# prnt('안녕하세요.')
#> 1번 라인을 실행하면, NameError: name 'prnt' is not defined

print('안녕하세요.')

안녕하세요.

In [ ]:
# n = int('100.')
#> ValueError: invalid literal for int() with base 10: '100.'

n = int('100')

In [ ]:
# print('200' + 100)
#> TypeError: can only concatenate str (not "int") to str

print('200' + '100')
print(200 + 100)

200100
300

In [ ]:
numbers = [1, 2, 3, 4, 5]
# print(numbers[5])
#> IndexError: list index out of range

print(numbers[4])

5

프로그램의 코드를 실행 중에 오류(error)가 발생하는 경우 해결 방법:
*   오류가 발생한 코드 위치와 그 원인을 찾아서, 오류가 발생하지 않도록 코드를 수정.
*   오류가 발생하더라도 프로그램이 비정상적으로 종료되지 않고 계속 실행될 수 있도록 처리.

In [ ]:
x = int(input('첫번째 정수 입력>>> '))
y = int(input('두번째 정수 입력>>> '))
z = x + y
print('x + y =', z)

첫번째 정수 입력>>> 10
두번째 정수 입력>>> 20.

ValueError: invalid literal for int() with base 10: '20.'

# try-except 구문

```
try:
    (1) 실행할 코드 블록
except [오류 이름 [as 변수]]:
    (2) 에러가 발생했을 때 실행할 코드 블록
[
else:
    (3) try 블록이 에러 없이 정상적으로 모두 수행됐을 때 실행할 코드 블록
]
[
finally:
    (4) 에러 유무에 상관없이 항상 실행할 코드 블록
]
```

*   try-except 구문의 실행 순서
    *   에러가 발생하지 않는 경우: (1) -> (3) -> (4)
    *   에러가 발생하는 경우: (1) -> (2) -> (4)
*   except에서 에러 이름을 생략하면, 모든 종류의 에러를 처리할 수 있음.
*   except에서 에러 이름을 지정하면, 선언한 에러만 처리할 수 있고 그 이외의 에러는 처리할 수 없음.
*   처리해야 할 에러의 종류가 여러개 있다면 except 절을 여러개 사용할 수도 있음.

In [ ]:
try:
    x = int(input('첫번째 정수 입력>>> '))
    y = int(input('두번째 정수 입력>>> '))
    print(f'{x} + {y} = {x + y}')
    print(f'{x} - {y} = {x - y}')
    print(f'{x} x {y} = {x * y}')
    print(f'{x} / {y} = {x / y}')
except:
    print('오류가 발생했습니다.')

첫번째 정수 입력>>> 123456
두번째 정수 입력>>> 0
123456 + 0 = 123456
123456 - 0 = 123456
123456 x 0 = 0
오류가 발생했습니다.

In [ ]:
try:
    x = int(input('첫번째 정수 입력>>> '))
    y = int(input('두번째 정수 입력>>> '))
    print(f'{x} + {y} = {x + y}')
    print(f'{x} - {y} = {x - y}')
    print(f'{x} x {y} = {x * y}')
    print(f'{x} / {y} = {x / y}')
except ValueError:
    print('입력값은 정수여야 합니다.')
except ZeroDivisionError:
    print('0으로는 나눌 수 없습니다.')
else:
    print('사칙연산 성공')
finally:
    print('코드 셀 종료')

첫번째 정수 입력>>> 100
두번째 정수 입력>>> 0
100 + 0 = 100
100 - 0 = 100
100 x 0 = 0
0으로는 나눌 수 없습니다.
코드 셀 종료

# 연습문제

사용자에게 숫자(실수)를 입력하라고 보여주고,
*   사용자가 입력한 문자열이 숫자로 변환될 수 있는 경우이면 그 숫자를 출력하고 종료하고
*   사용자가 입력한 문자열이 숫자로 변환될 수 없는 경우라면, 숫자를 다시 입력하라는 메시지를 출력하고 입력 과정을 반복.

In [ ]:
while True:  # 무한 반복문
    try:
        number = float(input('숫자 입력>>> '))
        print(f'number = {number}')
        break
    except:
        print('입력값은 숫자여야 합니다. 다시 입력하세요.')

숫자 입력>>> 12#$
입력값은 숫자여야 합니다. 다시 입력하세요.
숫자 입력>>> 1234
number = 1234.0