<a href="https://colab.research.google.com/github/yuuhyun/python_taehoon_itwill/blob/main/20250429_python14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1. Score 클래스

*   속성(attributes):
    *   국어, 영어, 수학 점수
    *   국어, 영어, 수학 점수의 기본값은 0.
*   기능(functionality):
    *   `__str__`: `Score(korean=100, english=100, math=100)` 포맷의 문자열을 리턴
    *   `__repr__`: `점수(국어=100, 영어=100, 수학=100)` 포맷의 문자열을 리턴
    *   `calculate_sum`: 세 과목의 총점 리턴
    *   `calculate_mean`: 세 과목의 평균 리턴

In [ ]:
class Score:


    def __init__(self, korean=0, english=0, math=0):
        self.korean = korean
        self.english = english
        self.math = math

    def __str__(self):
        return f'Score(korean={self.korean}, english={self.english}, math={self.math})'

    def __repr__(self):
        return f'점수(국어={self.korean}, 영어={self.english}, 수학={self.math})'

    def calculate_sum(self):
        return self.korean + self.english + self.math

    def calculate_mean(self):
        return self.calculate_sum() / 3

In [ ]:
my_score = Score(korean=100, english=100, math=100)

print(my_score)
print(my_score.__repr__())
print(my_score.calculate_sum())
print(my_score.calculate_mean())

print(my_score.korean)
print(my_score.english)
print(my_score.math)

Score(korean=100, english=100, math=100)
점수(국어=100, 영어=100, 수학=100)
300
100.0
100
100
100

`print(object)` 호출하면, `object.__str__()` 메서드가 리턴하는 문자열을 출력.

In [ ]:
my_score

점수(국어=100, 영어=100, 수학=100)

파이썬 노트북(*.ipynb 파일)의 코드 셀은 가장 마지막 라인의 변수 혹은 식(expression)을 자동으로 출력해주는 기능을 가지고 있음. 가장 마지막 라인이 객체인 경우, 그 객체의 `__repr__()` 메서드가 리턴하는 문자열을 출력.

In [ ]:
score2 = Score(100, 95, 88)
print(score2)
print('총점: ', score2.calculate_sum)
print('평균: ', score2.calculate_mean)
score2

Score(korean=100, english=95, math=88)
총점:  <bound method Score.calculate_sum of 점수(국어=100, 영어=95, 수학=88)>
평균:  <bound method Score.calculate_mean of 점수(국어=100, 영어=95, 수학=88)>

점수(국어=100, 영어=95, 수학=88)

# Ex2. Student 클래스

*   속성(attributes):
    *   학생 번호, 학생 이름, 점수(Score 객체)
*   기능(functionality):
    *   `__str__`: `Student(no: 123, name: 홍길동, score: Score(korean=100, english=100, math=100))` 포맷의 문자열을 리턴
    *   `__repr__`: `학생(no:123, name: 홍길동, score: 점수(국어=100, 영어=100, 수학=100))` 포맷의 문자열을 리턴
*   테스트
    *   Student 객체(인스턴스)를 생성.
    *   Student 인스턴스를 출력.
    *   생성된 객체에서 총점, 평균을 계산하는 메서드를 호출.

In [ ]:
class Student:
    def __init__(self, number, name, score):
        self.number = number
        self.name = name
        self.score = score

    def __str__(self):
        return f'Student(no: {self.number}, name: {self.name}, score: {self.score})'

    def __repr__(self):
        return f'학생(no: {self.number}, name: {self.name}, score: {self.score.__repr__()})'

In [ ]:
my_score = Score(korean=100, english=100, math=100)
gildong = Student(123, '홍길동', my_score)

print(gildong)
print(gildong.__repr__())

print('홍길동의 총점:', gildong.score.calculate_sum())
print('홍길동의 평균:', gildong.score.calculate_mean())

Student(no: 123, name: 홍길동, score: Score(korean=100, english=100, math=100))
학생(no: 123, name: 홍길동, score: 점수(국어=100, 영어=100, 수학=100))
홍길동의 총점: 300
홍길동의 평균: 100.0

In [ ]:
student3 = Student(2001,'Scott', Score(99, 85, 89))
print(student3)
print(student3.score.calculate_sum())
print(student3.score.calculate_mean())

Student(no: 2001, name: Scott, score: Score(korean=99, english=85, math=89))
273
91.0

In [ ]:
date_string = '2025-04-29'
result = date_string.split(sep='-') # sep 파라미터 : 구분자(separator)
result

['2025', '04', '29']

In [ ]:
csv_string = '1, 홍길동, 100, 90, 80' # csv(comma-separated values)
csv_string.split(sep=',')

['1', ' 홍길동', ' 100', ' 90', ' 80']

In [ ]:
email = 'gildon.hong@naver.com'
# 문자열 email에서 이메일 아이디와 도메인을 구분해서 출력

result = email.split(sep='@')
print(result[0])
print(result[1])

gildon.hong
naver.com

In [ ]:
# str.join(iterable) : iterable의 아이템들을 str으로 연결한 문자열을 리턴.
'/'.join(['2025', '04', '29'])

'2025/04/29'

In [ ]:
','.join(['홍길동', '오쌤', 'Scott'])

'홍길동,오쌤,Scott'

In [ ]:
msg = 'Hello,Python,안녕하세요,파이썬,12345'
msg.replace(',', '::') # str.replace(old, new): str에 등장하는 old를 new로 대체한 문자열을 리턴.

'Hello::Python::안녕하세요::파이썬::12345'

In [ ]:
msg.replace(',', '-', 1) # str.replace(old, new, count): str에 등장하는 old를 new로 count번 대체.

'Hello-Python,안녕하세요,파이썬,12345'

In [ ]:
msg = '안녕? 안녕하세요! Hello, Python.'
msg.replace('?', '').replace('!', '').replace(',', '').replace('.','').split() # 메서드 연쇄 호출

['안녕', '안녕하세요', 'Hello', 'Python']

In [ ]:
sentence = '        Hello, Python!          안녕하세요....          '
print(sentence)
print(sentence.lstrip()) # lstrip: left strip
print(sentence.rstrip()) # rstrip: right strip
print(sentence.strip())

        Hello, Python!          안녕하세요....
Hello, Python!          안녕하세요....
        Hello, Python!          안녕하세요....
Hello, Python!          안녕하세요....