<a href="https://colab.research.google.com/github/yuuhyun/python_taehoon_itwill/blob/main/20250421_python02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료 형(Python Data Type)

* 숫자 타입
  * 정수 : int
  * 실수 : float
* 문자열 타입 : str
  
* 논리 타입 : bull

In [ ]:
# 변수 n에 정수 123을 저장
n = 123
#  변수 n을 출력
print(n)
# 변수 n의 타입을 출력
print(type(n))

123
<class 'int'>

In [ ]:
pi = 3.141592 # 변수 pi에 값 3.141592를 저장(할당)
print(pi) # 변수 pi에 할당된 값을 출력
print(type(pi)) # 변수 pi의 타입을 출력

3.141592
<class 'float'>

In [ ]:
s = "안녕하세요"
print(s)
print(type(s))

안녕하세요
<class 'str'>

논리 타입 : 참(True) 또는 거짓(False)을 저장하는 타입.

In [ ]:
b = True
print(b)
print(type(b))

True
<class 'bool'>

In [ ]:
b = 10 < 5
print(b)

False

# 명시적 타입 변환(explicit type conversion)

*`int(arg)` : 아규먼트로 전달된 값을 정수로 변환하는 함수.
 * 문자열 -> 정수
 * 실수 -> 정수

*`float(arg)` : 아규먼트로 전달된 값을 실수로 변환하는 함수.
 * 문자열 -> 실수
 * 정수 -> 실수

*`str(arg)` : 아규먼트로 전달된 값을 문자열로 변환하는 함수.
 * 정수, 실수, ... -> 문자열

In [ ]:
num_str='1004'
print(type(num_str)) #> str
num = int(num_str) # 문자열을 정수로 변환해서 변수 num에 저장(할당)
print(type(num)) #> int
print(num)

<class 'str'>
<class 'int'>
1004

In [ ]:
pi_int = int(pi)
print(type(pi_int))
print(pi_int)

<class 'int'>
3

# 연산자 (Operator)

## 할당 연산자(assignment operator)
* `=` : 오른쪽의 값을 왼쪽의 변수에 할당(저장)

## 산술 연산자(arithmetic operator)
* 종류: `+, -, *, /, **, //, %`
* 산술 연산자는 일반적으로 숫자 타입(int, float)의 값에서 사용 가능.
* 일부 산술 연산자는 문자열과 같은 타입에서도 사용 가능.

In [ ]:
x, y = 10, 3
print(f'{x} + {y} = {x + y}')
print(f'{x} - {y} = {x - y}')
print(f'{x} * {y} = {x * y}')
print(f'{x} / {y} = {x / y}')
print(f'{x}의 {y} 제곱 = {x ** y}') # 거듭제곱 연산자
print(f'{x}를 {y}로 나눈 몫 = {x // y}') # 몫 연산자
print(f'{x}를 {y}로 나눈 나머지 = {x % y}') # 나머지 연산자

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10의 3 제곱 = 1000
10를 3로 나눈 몫 = 3
10를 3로 나눈 나머지 = 1

문자열(str)에서 사용할 수 있는 산술 연산자

* `+` : concatenate. 문자열 이어붙이기.
* `*` : replicate. 문자열 복제.

In [ ]:
'Hello' + ' Python' # 문자열 + 문자열

'Hello Python'

In [ ]:
'Hello' * 5 # 문자열 * 정수

'HelloHelloHelloHelloHello'

In [ ]:
'안녕' + str(1) # '안녕' + '1'

'안녕1'

## 비교 연산자, 논리 연산자
* 비교 연산자 : `==, !=, >, >= , <. <=`
* 논리 연산자 : `and, or, not`

In [ ]:
x, y = 100, 200
print(x == y) # equal to
print(x != y) # not equal to
print(x > y) # greater than
print(x < y) # less than

False
True
False
True

In [ ]:
print((x > 50) and (x < 150))
print((x > 100) and (x < 200))
print((x > 100) or (x < 200))

True
False
True

## 복합 할당 연산자

* 종류 : `+=, -=, *=, /=, **=, //=, %=, ...`
* 산술 연산자와 할당 연산자를 합쳐서 만들어진 연산자.

In [ ]:
x = 10
print(x)
x = x + 1
print(x)

10
11

In [ ]:
x = 10
print(x)
x += 1 # (1). x + 1 계산, (2). (1)의 결과를 변수 x에 저장.
print(x)

10
11

# 콘솔 입력

In [ ]:
name = input('이름을 입력>>> ')
print(type(name))
print(f'안녕하세요, {name}!')

연습문제:
* 섭씨 온도를 입력받아서, 화씨 온도로 변환 후 출력하는 코드를 작성
* `화씨 = 섭씨 * 1.8 + 32`

In [ ]:
temp = input('변환하고 싶은 섭씨 온도를 입력해주세요!(숫자만 입력) >>> ')
floattemp = float(temp)
ftemp = floattemp * 1.8 + 32
print(f'입력하신 온도는 화씨 온도로 {ftemp}도 입니다.')

In [ ]:
celcius = float(input('섭씨 온도 입력 >>> '))
print(f'섭씨 :   {celcius}')
fahernheit = celcius * 1.8 + 32
print(f'화씨 : {fahernheit}')