<a href="https://colab.research.google.com/github/yuuhyun/python_taehoon_itwill/blob/main/20250422_python05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문

## 문법

```
for 변수 in iterable-type:
    반복해서 실행할 코드 블록
```

* iterable-type: 반복(iteration)이 가능한 데이터 타입.
    * str(문자열), range, list, tuple, dict, ...
* for 반복문은 iterable-type이 객체에서 원소들을 하나씩 순서대로 꺼내서 변수에 저장하고, 코드 블록을 수행.
* for 반복문은 iterable-type이 객체에서 더이상 꺼낼 원소가 없을 때 반복을 종료.

In [ ]:
for x in '안녕하세요!':
    print(x)

안
녕
하
세
요
!

## `range()` 함수와 for 반복문

In [ ]:
# range(start, stop): iteration할 때마다 start <= x < stop 범위의 1씩 증가하는 정수를 생성함.
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [ ]:
# range(stop): iteration을 할 때마다 0 <= x < stop 범위의 1씩 증가하는 정수를 생성함.
for x in range (5):
    print(x)

0
1
2
3
4

In [ ]:
# range(start, stop, step): step이 양수인 경우, start <= x < stop 범위의 step 만큼씩 증가하는 정수를 생성함.
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

In [ ]:
# range(start, stop, step): step이 음수인 경우, start >= x > stop
for x in range(5,0,-1):
    print(x)

5
4
3
2
1

1 이상 10 미만의 홀수들을 내림차순으로 출력: 9 7 5 3 1

In [ ]:
for x in range(9,0,-2):
    print(x)

9
7
5
3
1

아래와 같이 출력하세요.
```
*
**
***
****
*****
```

In [ ]:
for x in range(1,6):
    print ('*' * x)

*
**
***
****
*****

아래와 같이 출력하세요.
```
*****
****
***
**
*
```

In [ ]:
for x in range(5,0,-1):
    print ('*' * x)

*****
****
***
**
*

## 중첩 for문

In [ ]:
for x in range(2,10,1):
    for y in range(1,10,1):
        print(f'{x} x {y} = {x*y}')
        if y == 9:
            print('------------')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
------------

In [ ]:
# 강사님이 작성하신 code
for x in range(1,10):
    print(f'---- {x}단 ----')
    for y in range(1,10):
        print(f'{x} x {y} = {x * y}')

---- 1단 ----
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
---- 2단 ----
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---- 3단 ----
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
---- 4단 ----
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---- 5단 ----
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
---- 6단 ----
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---- 7단 ----
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
---- 8단 ----
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---- 9단 ----
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## break, continue

* `break` : iteration을 종료.
* `continue` : 그 다음 iteratin을 종료.

In [ ]:
for x in range(1,6):
    if x == 3:
        break
    print(x)

1
2

In [ ]:
for x in range(1, 6):
    if x == 3:
        continue
    print(x)

1
2
4
5

구구단을 출력할 때 1단은 1 x 1까지, 2단은 2 x 2까지, 3단은 3 x 3까지, ... , 9단은 9 x 9까지 출력하세요.
* break 문장을 사용
* break 문장을 사용하지 않는 방법

In [ ]:
# break 문장을 사용

for x in range(1,10):
    for y in range(1,10):
        print(f'{x} x {y} = {x * y}')
        if x == y:
            print(f'-----------')
            break

2 x 1 = 2
2 x 2 = 4
-----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
-----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
-----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
-----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
-----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
-----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
-----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
-----------

In [ ]:
# break 문장을 사용하지 않는 방법

for x in range(1,10):
        for y in range(1,x+1):
            print(f'{x} x {y} = {x * y}')
        print(f'-----------')

1 x 1 = 1
-----------
2 x 1 = 2
2 x 2 = 4
-----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
-----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
-----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
-----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
-----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
-----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
-----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
-----------

1부터 10(포함)까지 정수들을 한 줄에 출력

In [ ]:
for x in range(1, 11):
    print(x, end = '\t')

1	2	3	4	5	6	7	8	9	10

# 연습문제

## 1.

```
1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!
```

In [ ]:
for x in range(1,11):
    if x % 3 == 0:
        print(x, 'little indian', end = '\n')
    else:
        print(x, 'little', end = ' ')
print('indian boys!')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

## 2.
```
1 2 * 4 5 * 7 8 * 10
...
...
* * * * * * * * * 100
```

In [ ]:
# 직접 작성

for x in range(1,101):
    if x <10:
        if x % 3 == 0:
            print('*', end = '  ')
        else:
            print(x, end = '  ')
    elif x % 10 == 3 or x % 10 == 6 or x % 10 == 9:
        print('*', end = '  ')
    elif x % 30 == 0:
        print('*', end = '\n')
    elif x % 30 <= 9:
        print('*', end = '  ')
    elif x % 10 == 0:
        print(x, end = '\n')
    else:
        print(x, end = ' ')

1  2  *  4  5  *  7  8  *  10
11 12 *  14 15 *  17 18 *  20
21 22 *  24 25 *  27 28 *  *
*  *  *  *  *  *  *  *  *  40
41 42 *  44 45 *  47 48 *  50
51 52 *  54 55 *  57 58 *  *
*  *  *  *  *  *  *  *  *  70
71 72 *  74 75 *  77 78 *  80
81 82 *  84 85 *  87 88 *  *
*  *  *  *  *  *  *  *  *  100

In [ ]:
# 옆 자리 분 수정
for x in range(1,101):
    if x % 10 == 3 or x % 10 == 6 or x % 10 == 9:
        print('*',end =' ')
    elif x >10 and x % 30 <= 9:
        if x % 30 == 0:
            print('*', end='\n')
        else:
            print('* ', end =' ')
    elif x % 10 == 0:
        print(x)
    else:
        print(x,end=' ')

1 2 * 4 5 * 7 8 * 10
11 12 * 14 15 * 17 18 * 20
21 22 * 24 25 * 27 28 * *
*  *  * *  *  * *  *  * 40
41 42 * 44 45 * 47 48 * 50
51 52 * 54 55 * 57 58 * *
*  *  * *  *  * *  *  * 70
71 72 * 74 75 * 77 78 * 80
81 82 * 84 85 * 87 88 * *
*  *  * *  *  * *  *  * 100

In [ ]:
# 강사님 code

for n in range (1, 101):
    n_1 = n % 10 # 숫자 n을 10으로 나눈 나머지 -> 일의 자릿수
    n_10 = n // 10 # 숫자 n을 10으로 나눈 몫 -> 십의 자릿수
    condition1 = n_1 == 3 or n_1 == 6 or n_1 == 9
    condition2 = n_10 == 3 or n_10 == 6 or n_10 == 9
    if condition1 or condition2:
        print('*', end='\t')
    else:
        print(n, end='\t')
    if n % 10 == 0:
        print() # 줄바꿈

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

In [ ]:
# 강사님 code 2

for  n in range(1, 101):
    n_1 = n % 10 # 일의 자릿수
    n_10 = n // 10 # 십의 자릿수
    if n_1 != 0 and n_1 % 3 == 0 or (n_10 != 0 and n_10 % 3 == 0):
        print('*', end= '\t')
    else:
        print(n, end = '\t')
    if n % 10 == 0:
        print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

`in` 연산자 : 배열과 유사한 객채에 원소로 포함되는 지 여부를 알려주는 연산자.

In [ ]:
5 in range(1, 11)

True

In [ ]:
11 in range(1, 11)

False

In [ ]:
'h' in 'hello'

True

In [ ]:
'H' in 'hello'

False

In [ ]:
3 in (3, 6, 9)

True

In [ ]:
5 in (3, 6, 9)

False

In [ ]:
for n in range(1, 101):
    n_1 = n % 10
    n_10 = n // 10
    if n_1 in (3, 6, 9) or n_10 in (3, 6, 9):
        print('*', end = '\t')
    else:
        print(n, end = '\t')
    if n_1 == 0:
        print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

In [ ]:
for n in range(1, 101):
    n_str = str(n)
    if ('3' in n_str) or ('6' in n_str) or ('9' in n_str):
        print('*', end = '\t')
    else:
        print(n, end ='\t')
    if n % 10 == 0:
        print()