<a href="https://colab.research.google.com/github/yuuhyun/python_taehoon_itwill/blob/main/20250428_python12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

**함수(function)는 객체(object).**

* 객체: 숫자(int, float), 문자열(str), 논리값(True/False), list, dict, tuple, ...
* 함수는 변수에 할당할 수 있음.
* 함수의 아규먼트로 다른 함수를 전달할 수 있음.
* 함수의 반환값으로 함수를 사용할 수 있음.
* 함수 내부에서 또다른 함수를 선언할 수 있음.

In [ ]:
x = 1 # 정수 1을 변수 x에 할당(저장)
print(x) # 정수를 함수의 아규먼트로 전달.

In [ ]:
result = len('안녕!')
print(result)

3

In [ ]:
def double(x):
    return 2 * x

In [ ]:
result = double(5) # 함수 double을 호출하고 그 반환값을 변수 result에 저장
print(result)

10

In [ ]:
print(double(3)) # 함수 double을 호출하고 그 결과를 출력

6

In [ ]:
print(double) # double 이름의 함수 객체를 문자열로 표현해서 출력. 함수를 호출한 게 아님.

<function double at 0x7af8bc5680e0>

## 함수를 변수에 할당

In [ ]:
twice = double # 함수 호출이 아니고, double 함수 객체를 변수 twice에 할당(저장)
print(twice)

<function double at 0x7af8bc5680e0>

In [ ]:
print(twice(10)) # twice() 함수 호출은 double() 함수 호출과 동일.

20

## 아규먼트로 함수를 전달받는 함수

In [ ]:
def calculator(x, y, fn):
    result = fn(x,y)

    return result

In [ ]:
def plus(x, y):
    return x + y

In [ ]:
result = calculator(1, 2, plus)
print(result)

3

In [ ]:
def minus(x, y):
    return x- y

result = calculator(1, 2, minus)
print(result)

-1

In [ ]:
def is_greater(x,y):
    return x > y

result = calculator(1, 2, is_greater)
print(result)

False

## 내부 함수, 함수를 리턴하는 함수

내부 함수(inter function), 지역 함수(local function):

* 함수 내부에서 선언된 함수.
* 선언된 함수 내부에서만 호출할 수 있음.
* 선언된 함수 외부에서는 호출할 수 없음.
* 외부 함수의 지역 변수들(파라미터 포함)을 사용할 수 있음.

In [ ]:
def make_incrementor(n):
    # 내부 함수
    def add_n(x):
        return x + n

    return add_n

In [ ]:
increase_by_2 = make_incrementor(2)
print(increase_by_2)
result = increase_by_2(10)
print(result)

<function make_incrementor.<locals>.add_n at 0x7af88afbf920>
12

In [ ]:
plus_10 = make_incrementor(10)
result = plus_10(100)
print(result)

110

In [ ]:
# 짧은 code
result = make_incrementor(100)(123)
print(result)

223

# 람다 표현식(Lambda Expression)

* 문법
```
lambda param1, param2, ...: expression(식)
```
* 이름이 없는 함수
* 함수 이름 선언 없이, 함수 파라미터 선언과 반환값 또는 반환 식으로 함수를 정의하는 것.
* 람다 표현식은 변수에 할당할 수 있음. **함수의 아규먼트로 전달할 수 있음.**

In [ ]:
# 함수 선언
# def plus_one(x):
#    return x + 1

# 람다 표현식
plus_one = lambda x: x + 1
print(plus_one)
print(plus_one(1))

<function <lambda> at 0x7925cb346520>
2

In [ ]:
# def add(x, y):
# return x + y

add = lambda x, y: x + y
print(add(100, 200))

300

## 함수 calculator()의 아규먼트로 람다 표현식을 전달.

In [ ]:
result = calculator(1, 2, lambda x, y : x + y)
print(result)

3

In [ ]:
result = calculator(1, 2, lambda x, y : x - y)
print(result)

-1

In [ ]:
#  곱하기 람다를 calculator에게 전달

result = calculator(1, 2, lambda x, y : x * y)
print(result)

#  나누기 람다를 calculator에게 전달

result = calculator(1, 2, lambda x, y : x / y)
print(result)

2
0.5

## lambda를 아규먼트로 전달하는 예

* filter : 조건을 만족하는 원소들로 이루어진 리스트를 리턴.
* map : 리스트의 원소를 일정한 규칙에 의해서 다른 값으로 변환(매핑).

In [ ]:
import random

In [ ]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)

[1, 1, 1, 6, 4, 6, 8, 4, 0, 1]

리스트 numbers에서 짝수들만 필터링한 리스트.

In [ ]:
# filter(function, iterable) : iterable의 원소를 function의 아규먼트로 전달했을 때 True를 리턴하는 값들로 이루어진 리스트를 리턴.

evens = filter(lambda x: x % 2 == 0, numbers)
result = list(evens) # 필터링된 객체를 리스트(list) 타입으로 변환.
print(result)

[6, 4, 6, 8, 4, 0]

리스트 numbers 원소들의 제곱으로 이루어진 리스트.

In [ ]:
# map (function, iterable) : iterable의 원소들을 function의 아규먼트로 전달해서 function이 리턴해 주는 값들로 이루어진 map 객체를 리턴.
squares = map(lambda x: x ** 2, numbers)
result = list(squares) # 매핑(변환)된 객체를 리스트 타입으로 변환.
print(result)

[1, 1, 1, 36, 16, 36, 64, 16, 0, 1]

연습문제 1.
* [-10, 10] 범위는 난수 10개를 원소로 갖는 리스트를 만듦.
* 위의 리스트에서 음수들만 필터링한 리스트를 만들고 출력.
* 홀수들만 필터링한 리스트를 만들고 출력.

In [ ]:
rand = [random.randrange(-10, 11) for _ in range(10)]
print(rand)

minus = filter(lambda x: x < 0, rand)
odds = filter(lambda x: x % 2 == 1, rand)

print(list(minus))
print(list(odds))

[-4, 1, 3, -2, -3, -3, -4, -2, 0, 4]
[-4, -2, -3, -3, -4, -2]
[1, 3, -3, -3]

연습문제 2.
* [0,100) 범위의 난수 10개를 원소로 갖는 리스트를 만듦.
* 위의 리스트의 원소가 짝수이면 'even', 홀수이면 'odd'로 매핑한 리스트를 만들고 출력.
* 리스트의 원소가 0 ~ 19이면 'teen', 20 ~ 59이면 'adult' , 60 이상이면 'senior'로 매핑한 리스트를 만들고 출력.

In [ ]:
rand = [random.randrange(0, 100) for _ in range(10)]
print(rand)

even_odd = map(lambda x: 'even' if x % 2 == 0 else 'odd', rand)
print(list(even_odd))

age = map(lambda x: 'teen' if x < 20 else ('adult' if x < 60 else 'senior'), rand)
print(list(age))

[2, 7, 26, 40, 59, 29, 21, 44, 64, 61]
['even', 'odd', 'even', 'even', 'odd', 'odd', 'odd', 'even', 'even', 'odd']
['teen', 'teen', 'adult', 'adult', 'adult', 'adult', 'adult', 'adult', 'senior', 'senior']

In [ ]:
x = 1
print(x)

1

## filter 구현

In [ ]:
def my_filter(iterable, function):
    """
    iterable의 원소들 중에서 함수 function의 결과가 True가 되는 원소들로 이루어진 리스트를 리턴.

    @param iterable: list 또는 tuple
    @param function: 아규먼트가 1개이고, True/False를 리턴하는 함수
    @return: 리스트(list).
    """

    result = [] # 조건에 맞는 원소들을 저장하기 위한 빈 리스트
    for x in iterable: # iterable의 모든 원소들을 순서대로 반복하면서
        if function(x): # 함수 호출 결과가 True이면(조건을 만족하면)
            result.append(x) # 결과 리스트에 그 원소를 추가

    return result

In [ ]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)
evens = my_filter(numbers, lambda x: x % 2 ==0)
print(evens)

[5, 0, 4, 5, 9, 4, 3, 8, 8, 3]
[0, 4, 4, 8, 8]

In [ ]:
languages = ['Python', 'SQL', 'Java', 'JavaScript', 'HTML']

# languages의 문자열들 중에서 길이가 3보다 큰 문자열들로 이루어진 리스트를 my_filter를 사용해서 만들어 보세요.
lang_over3 = my_filter(languages, lambda x: len(x) > 3)
print(lang_over3)

['Python', 'Java', 'JavaScript', 'HTML']

## map 구현

In [ ]:
def write_5times(x):

    return x * 11111


def my_mapper(iterable, fn):
    """
    iterable의 원소를 함수 fn의 아규먼트로 전달했을 때 그 리턴값을 리스트에 추가해서 리턴.

    @param iterable: 리스트 또는 튜플
    @param fn: 아규먼트가 1개이고, 1개의 값을 리턴하는 함수.
    @return: 리스트.
    """
    result = []

    for x in iterable:
        result.append(fn(x))

    return result

print(my_mapper([1,2,3,4,5], write_5times))

[11111, 22222, 33333, 44444, 55555]

In [ ]:
# 강사님 code

def my_mapper2(iterable, fn):
    """
    iterable의 원소를 함수 fn의 아규먼트로 전달했을 때 그 리턴값을 리스트에 추가해서 리턴.

    @param iterable: 리스트 또는 튜플
    @param fn: 아규먼트가 1개이고, 1개의 값을 리턴하는 함수.
    @return: 리스트.
    """

   # result = [] # 매핑된 값들을 저장할 빈 리스트
   # for x in iterable: # iterable의 원소들을 순서대로 반복하면서
   #     result.append(fn(x)) # 함수 fn()의 리턴값을 리스트에 추가.

    result = [fn(x) for x in iterable]

    return result

In [ ]:
numbers = [random.randrange(100) for _ in range(10)] # [0, 100) 범위의 난수 10개를 저장하는 리스트
print(numbers)

# 짝수 -> 'even' , 홀수 -> 'odd' 매핑
result = my_mapper2(numbers, lambda x : 'even' if x % 2 == 0 else 'odd')

[47, 74, 72, 78, 69, 50, 11, 58, 21, 0]

In [ ]:
languages = ['Python', 'SQL', 'Java', 'JavaScript', 'HTML']

# languages의 문자열 -> 글자수로 매핑

result = my_mapper(languages, lambda x: len(x))
print(result)

[6, 3, 4, 10, 4]