<a href="https://colab.research.google.com/github/yuuhyun/python_taehoon_itwill/blob/main/20250422_python04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# while 반복문

## 문법

```
[초기화 문장]
while 조건식:
    조건식을 만족하는 동안에 반복할 코드 블록
    [조건식의 결과를 바꿀 수 있는 문장]
```

* `while 조건식` 다음에는 반드시 콜론(:)을 써야 함.
* 조건식을 만족하는 동안 블록 내부를 실행.
* 조건식의 결과가 False가 되면 반복을 멈춤.

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [ ]:
n = 1 # 초기화 문장
while n < 6:
    print(n) # 변수 n의 값을 출력
    n += 1 # n = n + 1

1
2
3
4
5

5부터 1씩 감소시키면서 1까지 한줄씩 출력

In [ ]:
n = 5 # 초기화 문장
while n > 0:
    print(n) # 변수 n의 값을 출력
    n -= 1 # n = n - 1

5
4
3
2
1

2 4 6 8 10을 한 줄씩 출력

In [ ]:
n = 2 # 초기화 문장
while n <= 10:
    print(n) # 변수 n의 값을 출력
    n += 2 # n = n + 2

2
4
6
8
10

In [ ]:
n = 2 # 초기화 문장
while n <= 10:     # n의 값이 10 이하인 동안에
    if n % 2 == 0: # n이 짝수이면
        print(n)   # n을 출력
    n += 1         # n의 값을 1 증가

2
4
6
8
10

구구단 9단을 출력

```
9 x 1 = 9
9 x 2 = 18

...

9 x 9 = 81
```

In [ ]:
n = 1
while n <10:
    print(f'9 x {n} = {9*n}')
    n += 1

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## 중첩 반복문

In [ ]:
x = 1
while x < 10:
    print(f'----- {x}단 -----')

    y = 1
    while y < 10:
        print(f'{x} x {y} = {x*y}')
        y += 1
    # TODO
    x += 1

----- 1단 -----
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
----- 2단 -----
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----- 3단 -----
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----- 4단 -----
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----- 5단 -----
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----- 6단 -----
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----- 7단 -----
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----- 8단 -----
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----- 9단 -----
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## break, continue

* `break` : 반복(iteration)을 종료. break가 포함된 가장 가까운 반복문만 종료.
* `continue` : 다음 반복(iteration)을 수행. **continue 아래쪽의 문장들은 건너뛰고** 다음 반복을 수행.

In [ ]:
n = 1
while n <= 5:
    if n == 3:
        break;
    print(n)
    n += 1

1
2
3
4
5

In [ ]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        continue;
    print(n)

1
2
4
5

# 연습문제

1.
아래와 같이 출력하는 코드를 작성하세요.
```
*
**
***
****
*****
```

In [ ]:
n = 1
while n < 6:
    print('*' * n)
    n += 1

*
**
***
****
*****

2.
아래와 같이 출력하는 코드를 작성하세요.
```
*****
****
***
**
*
```

In [ ]:
n = 5
while n > 0:
    print('*' * n)
    n -= 1

*****
****
***
**
*

3.
아래와 같이 출력하는 코드를 작성하세요.
```
*
**
***
****
*****
****
***
**
*
```

In [ ]:
n = 1
while n < 10:
    if n > 5:
        print('*' * (10 - n))
        n += 1
        continue;
    print('*'* n)
    n += 1

*
**
***
****
*****
****
***
**
*

In [ ]:
# 다른 방식의 code

n = 1
while n < 6: # while n <= 5:
    print('*' * n)
    n += 1

n = 4
while n > 0: # while n >= 1:
    print('*' * n)
    n -= 1

*
**
***
****
*****
****
***
**
*

4.
아래와 같이 구구단을 출력하는 코드를 작성하세요.
```
2 x 1 = 2
2 x 2 = 4
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
--------------------
...
--------------------
9 x 1 = 9
...
9 x 9 = 81
--------------------
```

In [ ]:
m = 2
n = 1
while m < 10:
    if n < m:
        print(f'{m} x {n} = {m*n}')
        n += 1
        continue;
    if n == m:
        print(f'{m} x {n} = {m*n}')
        print('-------------')
        m += 1
        n = 1

2 x 1 = 2
2 x 2 = 4
-------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
-------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
-------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
-------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
-------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
-------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
-------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
-------------

In [ ]:
# 같은 결과의 다른 code

x = 2
while x < 10:
    y = 1
    while y <= x:
        print(f'{x} * {y} = {x*y}')
        y += 1
    print('-' * 10)
    x += 1

2 * 1 = 2
2 * 2 = 4
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------