<a href="https://colab.research.google.com/github/yuuhyun/python_taehoon_itwill/blob/main/20250425_python11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

*   **함수(function)**: 기능을 수행하는 코드 블록.
*   **인수(argument)**: 함수가 기능을 수행하기 위해서 값이 필요한 경우, 함수를 호출할 때 함수에게 전달해 주는 값.
*   **매개변수(parameter)**: 아규먼트를 저장하기 위해서, 함수를 정의할 때 선언하는 변수.
*   **반환값(return value)**: 함수가 기능을 수행한 후에 그 결과로 함수를 호출한 곳에 되돌려 주는 값.
    *   함수에 따라서 반환값이 있는 함수도 있고, 반환값이 없는 함수도 있음.
        * 예: print() 함수는 반환값이 없음.

In [ ]:
result = len('안녕하세요.')
print(result)

# 함수 이름: len
# argument: '안녕하세요.'
# 함수 호출: len('안녕하세요.')
# 반환값: 6

6

# 함수 선언(정의)

```
def function_name([parameter1, parameter2, ...]):
    ["""문서화 주석(documentation comments): 함수에 대한 설명"""]
    함수가 수행할 기능을 코드 블록으로 작성
    [return 반환값]
```

In [ ]:
def subtract(x, y):
    """x - y를 리턴하는 함수"""
    return x - y

In [ ]:
# subtract() 함수를 호출.
result = subtract(1, 2)
print(result)

-1

In [ ]:
print(subtract(2, 1))

1

## 값을 반환하지 않는 함수 선언

In [ ]:
def repeat_message(msg, n):
    """
    msg를 n번 반복해서 출력하는 함수.

    @param msg - 출력할 메시지. 문자열 타입.
    @param n - 출력할 횟수. 0 또는 양의 정수.
    @return None
    """
    for _ in range(n):
        print(msg)

    # return None  # return None 문장은 생략 가능.

In [ ]:
repeat_message('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

In [ ]:
repeat_message('Hello, Python!', 5)

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

## 2개 이상의 값을 반환하는 함수 선언

In [ ]:
def plus_and_minus(x, y):
    """
    두 숫자들의 덧셈과 뺄셈 결과를 반환하는 함수.

    @param x: 숫자 타입(int 또는 float).
    @param y: 숫자 타입(int 또는 float).
    @return x + y, x - y
    """
    return x + y, x - y

In [ ]:
a, b = plus_and_minus(1, 2)
print(a, b)

3 -1

In [ ]:
result = plus_and_minus(1, 2)  # 리턴값들을 아이템으로 갖는 tuple이 저장됨.
print(result)

(3, -1)

In [ ]:
import random

## 연습문제 1.

* 함수 이름. make_list
* 기능: [start,end) 범위의 정수 난수 n개를 갖는 리스트를 리턴.
* 파라미터 : start(정수), end(정수), n(0 또는 양의 정수)

In [ ]:
def make_list(start, end, n):

    """
    [start, end) 범위의 난수 n개로 이루어진 리스트를 리턴.

    @param start : int. 난수의 시작
    @param end: int. 난수의 끝 범위.
    @param n : 0 또는 양의 정수. 난수 개수. 리스트의 크기.
    @return: [start, end) 범위의 난수 n개로 이루어진 리스트를 리턴.
    """

    array =[random.randrange(start,end) for _ in range(n)] #randrange 사용해서 리스트로 저장
    return array # 리스트값 반환

    # array = []
    # for _ in range(n):
    #    array.append(random.randrange(start,end))

    # return array

my_list = make_list(0, 10, 10)

print(my_list)

[7, 4, 7, 8, 8, 7, 9, 4, 3, 3]

## 연습문제 2.

* 함수 이름 : calculate_sum
* 기능 : 숫자(정수, 실수)들을 원소로 갖는 리스트를 전달받아서, 그 리스트의 모든 원소들의 합계를 리턴
* 파라미터 : array(리스트)

In [ ]:
def calculate_sum(x):

    """
    숫자를 원소로 갖는 리스트의 모든 원소들의 합계를 리턴

    :arg array: 숫자들을 원소로 갖는 리스트.
    :returns: 리스트의 모든 원소들의 합계
    """


    array = 0 # array 변수 선언
    for i in range(0, len(x)): # 함수의 길이만큼 for문 반복
        array += x[i] # array의 값에 리스트의 원소를 더한다

    return array

result = calculate_sum([1, 2, 3])
print(result)

6

In [ ]:
my_list = make_list(0, 10, 5)
print(my_list)
total = calculate_sum(my_list)
print(total)

[8, 6, 4, 1, 3]
22

## 연습문제 3.

* 함수 이름 : calculate_mean
* 기능 : 숫자들을 원소로 갖는 리스트의 원소들의 평균을 리턴.
* 파라미터 : array(리스트)

In [ ]:
def calculate_mean(x):

    """
    숫자들의 리스트 array의 모든 원소들의 평균을 리턴.

    :arg array: 숫자들을 원소로 갖는 리스트.
    :returns: 리스트의 모든 원소들의 평균
    """

    array = 0 # array 변수 선언
    for i in range(0, len(x)): # 함수의 길이만큼 for문 반복
        array += x[i] # array의 값에 리스트의 원소를 더한다

    return array / len(x) # array를 리스트의 길이(원소의 수)만큼 나눈다 => 평균

result = calculate_mean([1, 2, 3])
print(result)

2.0

In [ ]:
my_list = make_list(0, 10, 5)
print(my_list)
total = calculate_sum(my_list)
print('total =', total)
mean = calculate_mean(my_list)
print('mean =', mean)

[8, 3, 8, 7, 8]
total = 34
mean = 6.8

## 연습문제 4.

* 함수 이름 : find_min_and_max
* 기능 : 숫자들을 원소로 갖는 리스트를 아규먼트로 전달받아서, 리스트의 최솟값과 최댓값을 리턴.

In [ ]:
def find_min_and_max(array):

    list_max = array[0]
    list_min = array[0]
    for i in range(0,len(array)):
        if list_max < array[i]:
            list_max = array[i]
        if list_min > array[i]:
            list_min = array[i]
    return list_max, list_min

my_list = make_list(0, 10, 5)

min, max = find_min_and_max(my_list)
print(my_list)
print(min, max)

[7, 2, 1, 3, 8]
8 1

In [ ]:
# 강사님 code

def find_min_and_max(array):

    min_array = array[0]
    max_array = array[0]
    for x in array:
        if x < min_array:
            min_array = x
        if x > max_array:
            max_array = x
    return min_array, max_array

my_list = make_list(-100, 100, 10)
print(my_list)
min_my_list, max_my_list = find_min_and_max(my_list)
print(min_my_list, max_my_list)

[-30, -45, -26, -4, 24, 89, -19, -17, -10, 26]
-45 89

In [ ]:
# sorted(list): list를 (오름차순) 정렬된 새로운 리스트를 리턴.
# sorted(iterable, reverse=False): 오름차순 정렬
# sorted(iterable, reverse=True): 내림차순 정렬

sorted(my_list)

[-45, -30, -26, -19, -17, -10, -4, 24, 26, 89]

In [ ]:
def find_min_and_max2(array):
    sorted_array = sorted(array)
    return sorted_array[0], sorted_array[-1]

find_min_and_max2(my_list)

(-45, 89)

# Default Argument(기본 인수)

기본 인수(default argument):

* 함수를 선언할 때 파라미터에 설정하는 기본값.
    * default parameter : 기본값이 설정된 파라미터(매개변수).
* 함수를 호출할 때 deafult parameter에 값을 전달하지 않으면, default argument가 기본값으로 사용됨.
* 함수를 호출할 때 default parameter에 값을 전달하면, 기본값은 무시되고 전달한 아규먼트가 사용됨.

In [ ]:
def repeat_message2(msg,n=1):
    for _ in range(n):
        print(msg)

In [ ]:
# default parameter에 값을 전달하지 않는 경우:
repeat_message2('안녕하세요!')

안녕하세요!

In [ ]:
# default parameter에 값을 전달하지 않는 경우:
repeat_message2('Hello!', 5)

Hello!
Hello!
Hello!
Hello!
Hello!

**(주의)** default parameter들은 반드시 기본값을 갖지 않는 파라미터들 뒤에 선언해야 함.

기본값을 갖는 파라미터가 기본값을 갖지 않는 파라미터보다 먼저 선언되면 문법 오류가 발생함.

In [ ]:
def test(x, y=0):
    pass

In [ ]:
def test_error(x=0, y):
    pass

SyntaxError: non-default argument follows default argument (<ipython-input-102-f895b8312743>, line 1)

In [ ]:
def test2(x=0, y=0):
    pass

In [ ]:
def test2(x=0, y=0):
    print(f'x = {x}, y = {y}')

test2()
test2(1)
test2(0,1)
test2(y=1)

x = 0, y = 0
x = 1, y = 0
x = 0, y = 1
x = 0, y = 1

아규먼트 전달 방법 : 함수를 호출할 때 아규먼트(들)을 넘겨주는 방법

* **positional argument**: 선언된 파라미터 순서대로 아규먼트들을 전달하는 방식.
* **keyword argument**: param_name=value 형식으로 아규먼트를 전달하는 방식.
    * keyword argument 방식을 사용할 때는 파라미터 순서를 지키지 않아도 됨.
* **(주의)**: 함수를 호출할 때 positional 방식과 keyword 방식을 함께 사용하는 경우에는, 반드시 positional argument를 먼저 전달하고 keyword argument들은 positional 방식이 모두 끝난 후에 사용해야 함.

In [ ]:
test2(y=1, x=1)

x = 1, y = 1

In [ ]:
test2(1, y = 100)
test2(x=1, 100)

SyntaxError: positional argument follows keyword argument (<ipython-input-109-94271e970a58>, line 2)

# Variable-Length Arguments(가변길이 인수)

* 함수 아규먼트 개수가 임의로 변할 수 있는 것. 함수를 호출할 때 아규먼트를 몇 개를 전달해도 됨.
    * 아규먼트를 한 개도 전달하지 않아도 됨.
* 함수를 선언할 때 파라미터 이름 앞에 `*`를 사용하면 가변길이 인수를 의미.
    * 가변길이 인수는 인덱스를 가짐.
    * 가변길이 인수는 for-in 구문에서 사용할 수 있음.
* 가변길이 인수는 keyword argument 방식으로 값을 전달할 수 없음!
* 함수를 선언할 때 가변길이 인수를 저장하는 파라미터는 오직 1개만 선언할 수 있음.
* 가변길이 인수를 갖는 파라미터 뒤에 선언된 파라미터들에는

In [ ]:
print('안녕!') # 아규먼트 1개를 전달.

안녕!

In [ ]:
print() # 아규먼트를 전달하지 않음.
print('안녕!', 'Hello', '파이썬') # 아규먼트 3개를 전달.

안녕! Hello 파이썬

In [ ]:
def add_all(*args):
    """아규먼트로 전달된 모든 숫자들의 합계를 리턴."""
    result = 0
    for x in args:
        result += x

    return result

In [ ]:
add_all()

0

In [ ]:
add_all(1, 2, 3, 4, 5)

15

In [ ]:
def fn_test(x, *y):
    print('x =', x)
    print('y =', y)

In [ ]:
# fn_test() #> TypeError 발생 - 파라미터 x에는 반드시 값(아규먼트)를 전달해야 하기 때문에
fn_test(1) #>  가변길이 인수 y에는 값을 전달하지 않아도 됨.
# fn_test(x=1, 2) #> SyntaxError(문법 오류) 발생 - keyword argument는 positional argument보다 먼저 사용될 수 없음.
# fn_test(x=1, y=(1, 2, 3)) #> TypeError - 가변길이 인수는 keyword 방식으로 전달할 수 없음!
fn_test(1, 1, 2, 3, 4)

x = 1
y = ()
x = 1
y = (1, 2, 3, 4)

In [ ]:
def fn_error(*x, *y):
    pass

SyntaxError: * argument may appear only once (<ipython-input-127-d8b4bee6ac6a>, line 1)

In [ ]:
def fn_test2(*args, x):
    print('args =', args)
    print('x =', x)

In [ ]:
fn_test2(1, 2, 3, 4, 5)

TypeError: fn_test2() missing 1 required keyword-only argument: 'x'

In [ ]:
fn_test2(1, 2, 3, 4, x=5)

args = (1, 2, 3, 4)
x = 5

In [ ]:
print('a','b','c',sep = ":")

::

## 연습문제

In [ ]:
def calculate(*values, op):
    """
    op가 '+'인 경우, values에 전달된 모든 숫자들의 합을 리턴. values가 없으면 0을 리턴.
    (예) calculate(1, 2, 3, op='+') 호출하면 1+2+3을 리턴.
    op가 '*'인 경우, values에 전달된 모든 숫자들의 곱을 리턴. values가 없으면 0을 리턴.
    (예) calculate(1, 2, 3, op='*') 호출하면 1*2*3을 리턴.
    op가 '+'도 아니고 '*'도 아닌 경우에는 ValueError를 발생(raise ValueError()).
    (예) calculate(1, 2, 3, op='*') 호출하면 1*2*3을 리턴.
    """

    adds = 0
    mul = 1

    if op == '+':
        for x in values:
                adds += x
        return adds

        return adds
    elif op == '*':
        for x in values:
                mul *= x
        return mul
    else:
        raise ValueError("op의 값은 '+' 또는 '*'만 가능합니다.")

print(calculate(1,2,10, op = '+'))
print(calculate(1,2,10, op = '*'))
print(calculate(1,2,3, op = '?'))

13
20

ValueError: op의 값은 '+' 또는 '*'만 가능합니다.

# Variable-Length Keyword Arguments(가변길이 키워드 인수)

* 함수를 선언할 때 파라미터 이름 앞에 `**`를 사용함.
* 함수를 호출할 때는 `param1=value1, param2=value2, ...`와 같은 형식으로 아규먼트들을 전달함.
    * 가변길이 인수이기 때문에 전달하는 아규먼트 개수의 제한이 없음.
    * 키워드 인수이기 때문에 반드시 키워드(파라미터 이름)과 함께 아규먼트를 전달해야 함.
        * 키워드 이름은 자유롭게 만들 수 있음.
* 함수 내부에서 가변길이 키워드 인수는 dict 타입 객체로 취급.
    * 파라미터 이름이 dict의 키가 됨.
    * 아규먼트가 dict의 값(value)이 됨.
* 가변길이 키워드 인수는 함수에서 오직 1개만 선언할 수 있음.

In [ ]:
def fn_test3(*args, **kwargs):
    print('args =', args) # 가변길이 인수 -> tuple
    print('kwargs =', kwargs) # 가변길이 키워드 인수 -> dict

In [ ]:
fn_test3(1, 2, 'a', 'b', x=1, y=2, z='hello')

args = (1, 2, 'a', 'b')
kwargs = {'x': 1, 'y': 2, 'z': 'hello'}

In [ ]:
def make_student_info(stu_no, stu_name, **kwargs):
    student = {'no' : stu_no, 'name' : stu_name}
    for k, v in kwargs.items():
        # 가변길이 키워드 아규먼트들 중에서 키가 'email'이거나 'phone'인 경우에만 dict에 추가
        if (k == 'email') or (k == 'phone'):
            student[k]= v
    return student

In [ ]:
make_student_info(1234, '홍길동')

{'no': 1234, 'name': '홍길동'}

In [ ]:
make_student_info(2233, '오쌤', phone='010-1111-2222', email='jake@itwill.com', gender='male', age=16)

{'no': 2233,
 'name': '오쌤',
 'phone': '010-1111-2222',
 'email': 'jake@itwill.com'}